<mat-expansion-panel>
  <mat-expansion-panel-header>
    {{ "BLOG.POST_" + postIndex + ".TITLE" | translate }}
  </mat-expansion-panel-header>

  <img *ngIf="!isLoading; else spinner"
    src="{{imageUrl}}"
    title="{{imageTitle}}"
    alt="{{imageTitle}}">
  <h1>{{ "BLOG.POST_" + postIndex + ".TITLE" | translate }}</h1>
  <p *ngFor="let paragraphIndex of postDataPagragraphs">
    {{ "BLOG.POST_" + postIndex + ".P_" + paragraphIndex | translate }}
  </p>
</mat-expansion-panel>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
